* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body, html {
  color: #333;
}
.search_box button {
  width: 60px;
  height: 60px;
  display: flex;
  margin: -30px 0 0 0;
  background: none;
  margin-left: -10px;
}
.mainPage {
  background: #477EFF;
  width:100%; 
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 2px;
}
.mainPage h1 {
  display: block;
  font-size: 3.4em;
  color: #fff;
}
.mainPage p {
  font-size: 1.3em;
  padding-top: 20px;
  color: #fff;
}
.mainPage img {
  padding: 0 0 30px 300px;
}
.chatPage {
  background: #fff;
  width:100%; 
  height: 750px;
  display: flex;
  align-items: center;
  letter-spacing: 2px;
}
.chatPage .chat-introduce {
  padding-left: 150px;
}
.chatPage .chat-introduce h1 {
  display: block;
  font-size: 3.4em;
}
.chatPage .chat-introduce p {
  font-size: 1.3em;
  padding-top: 20px
}
.chatPage img {
  height: 550px;
  padding: 50px 0 0 0;
  margin: 0 0 0 110px;
  border-radius: 25px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1),
  15px 15px 15px rgba(0, 0, 0, 0.1),
  20px 20px 15px rgba(0, 0, 0, 0.1),
  inset 1px 1px 2px #fff;
}
.chatPage .bell img {
  height: 160px;
  padding-left: 30px;
  box-shadow: none;
}
.sellPage {
  background: #78A7FF;
  width:100%; 
  height: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 2px;
}
.sellPage .sell-introduce h1 {
  display: block;
  font-size: 3.4em;
}
.sellPage .sell-introduce p {
  font-size: 1.3em;
  padding-top: 20px
}
.sellPage img {
  height: 700px;
  padding: 50px 0 0 0;
  margin: 0 0 30px 140px;
}
.sellPage .mouse-click {
  font-size: 6em;
  padding-top: 250px;
}
.slide_wrapper {
  display: flex;
  align-items: center;
  margin-top: 100px;
  position: relative;
  width: 93.5%;
  margin: auto;
  height: 600px;
  overflow: hidden;
}
.slides {
  position: relative;
  left: 0;
  top: 0;
  transition: left 0.5s ease-out;
}
.slides li:not(:last-child) {
  float: left;
  margin-right: 25px;
}

/* slide-buttons */
.controls {
  text-align: center;
  margin-top: -606px;
}
.prev {
  position: absolute;
  background: none;
  border: none;
  padding: 10px 20px;
  margin: 0 10px;
  margin-left: -30px;
  left: 35px;
}

.next {
  position: absolute;
  background: none;
  border: none;
  padding: 10px 20px;
  margin: 0 10px;
  margin-right: -26px;
  right: 25px;
}

/* product */
.product_list {
  width: 30008px;
  padding-left: 8.5px;
  margin-top: 50px;
}
.product_list li {
  float: left;
  margin: 0 20px 20px 0;
  position: relative;
  width: 358px;
  height: 531px;
  border: 1px solid #d9d9d9;
  border-radius: 50px;
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.25);
}
.product_list li:hover {
  border-color: #8f8f8f;
  transition: 0.7s;
}
.product_list dl {
  padding: 374px 0 0 0;
}
.product_list dt {
  padding: 11px 10px 14px;
  border-top: 1px solid #e7e7e7;
}
.product_list dt a {
  font-size: 16px;
  padding: 15px;
  text-decoration: none;
  color: #333;
}
.product_list .img {
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: 0;
}

.product_list img {
  /* img size fix*/
  width: 300px;
  height: 370px;
  margin: 10px 0 0 25px;
}

.product_list .price {
  margin-top: 6px;
  padding: 0 0 0 24px;
  font-size: 21px;
  color: #333;
  font-weight: bold;
}
.product_list .btm {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  border-top: 1px solid #f0f0f0;
  background: #fafafa;
}
.product_list .btm div {
  float: left;
  width: 50%;
  height: 30px;
  line-height: 30px;
  text-align: center;
  font-size: 12px;
  color: #767676;
}
.product_list .btm div a {
  font-size: 12px;
  color: #767676;
}
.product_list .btm div a img {
  padding: 0 4px 0 0;
}
.product_list .h {
  margin-top: 20px;
}
